mysql-connector-python
qdrant-client
loguru
text2vec
sentence-transformers
langchain
langchain-community
langchain-ollama
langchain-qdrant
tqdm
fastapi
uvicorn[standard]
python-dotenv
jinja2
langchain-huggingface
sentence-transformers



